@font-face {
  font-family: 'Filson';
  src: url('/assets/fonts/Filson/Filson-Soft.woff2') format('woff2'),
    url('/assets/fonts/Filson/Filson-Soft.woff2') format('woff');
  font-weight: 900;
  font-style: normal;
}
