@import '../../../assets/scss/variables.scss';

.login {
  width: 100%;
  height: 100vh;
  background-color: $white;

  .cont {
    &-bar {
      width: 100%;
      height: 150px;
      background-color: $red;
      display: flex;
      justify-content: left;
      align-items: center;

      .logo {
        width: 220px;
        height: 60px;
        margin-left: 50px;
        background-image: url('/assets/images/logo_granada.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
      }
    }

    &-form {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      color: $grey;
      margin-top: 50px;

      h1 {
        text-align: center;
        font-size: 3rem;
        width: 100%;
      }

      &-data {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .form {
          width: 450px;

          &-group {
            margin: 20px 0;
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            &-controls {
              display: flex;
              width: 100%;

            }
          }
        }
      }
    }
  }
}
